.container {
  padding-block: 24px;

  @include content-padding-inline;

  @include on-tablet {
    padding-block: 64px;
  }
}

.top-bar {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo {
    display: flex;
  }
}
