/* #region page */

html {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}

body {
  margin: 0;
}

/* #endregion */

/* #region header */

.header {
  box-sizing: border-box;
  padding: 24px 20px 45px;
  height: 100vh;
  background-image: url(./images/header-bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 1024px) {
  .header__title {
    bottom: 120px;
    font-size: 64px;
    line-height: 1.1;
  }
}

/* #endregion */

/* #region icon */

.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(./icons/icon-phone-call.svg);
}

.icon--menu {
  background-image: url(./icons/icon-burger-menu.svg);
}

/* #endregion */
